<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LameLibrary.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Yapster.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FFB2B23D1953508600994876</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FFB2B24A1953508600994876</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FFF6CAD518E5E84600782B0E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FFF6CAF618E5E84600782B0E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
